version: '3'
services:
    db: 
        image: mysql:5.7
        restart: always
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: teamtat_development
            MYSQL_USER: teamtat
            MYSQL_PASSWORD: 12345678
        ports:
            - "3307:3306"
    app: 
        build: .
        command: bundle exec rails s -p 3000 -b '0.0.0.0'
        volumes: 
            - ".:/app"
        ports: 
            - "3001:3000"
        depends_on:
            - db
        links:
            - db
        environment:
            DB_USER: teamtat
            DB_NAME: teamtat_development
            DB_PASSWORD: 12345678
            DB_HOST: db