<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to TeamTat</h1>
    <p>
      To use your session again, just follow this link: <%=link_to @url, @url %>.
    </p>
    <p>Thanks for using TeamTat and have a great day!</p>
  </body>
</html>
