<% content_for :title, "Site Map" %>


<h1 class="ui dividing header">
  Site Map
</h1>

<ul>
  <li><a href="https://teamtat.org">Home</a></li>
  <li><a href="https://teamtat.org/account/new">New session</a></li>
  <li><a href="https://teamtat.org/about">About TeamTat</a></li>
  <li><a href="https://teamtat.org/sitemap">Site Map</a></li>
</ul>
