<div class="ui modal error-modal" >
  <i class="close icon"></i>
  <div class="header">
    <i class="large warning sign icon"></i>
    Errors
  </div>
  <div class="content">
    <ol>
    </ol>
  </div>
</div>